.ppfl_footer{
  text-align: right;
}
.ppfl_footer .ppfl_footer_his{
  margin-right: 20rpx;
}

.ppfl_c{
  padding: 0rpx 20rpx 20rpx 20rpx;
}

.block__title {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgba(69,90,100,.6);
  padding: 40rpx 30rpx 20rpx;
}

.ppfl_context{
  padding: 20rpx 40rpx 40rpx 40rpx;
  font-size: 28rpx;
  color: #8a8a8a;
}

.ppfl_context .ppfl_context_row{
  margin-top: 30rpx;
}


.button_up_blank{
  height: 40rpx;
}