.user-container {
    padding: 25rpx 10rpx;
    background-color: #F0F0F0;
	/*border: 1px solid black;*/
}

.notice {
    margin: 10rpx 7rpx;
    padding: 25rpx;
    background-color: #ffffff;
    border-radius: 7rpx;
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
}
.title {
    border-bottom: 1rpx solid #dedede;
    font-weight: 700;
    font-size: 34rpx;
    color: #5f5e5e;
    display: flex;
    justify-content: space-between;
}
.text{
  padding: 8rpx 0;
  font-size: 30rpx;
}
.button{
  /* width: 160rpx; */
  /* font-size: 30rpx; */
}